<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="assets/css/app.css">

    <!-- http://electron.atom.io/docs/faq/ -->
    <!--
    <script>
      window.nodeRequire = require;
      delete window.require;
      delete window.exports;
      delete window.module;
    </script>
  -->

  </head>
  <body>

      <section class="paperapp">
  			<header class="header">
  				<h1>papers</h1>
  				<input class="new-paper" placeholder="Paper Title" autofocus>
  			</header>
  			<section class="main">
  				<ul class="paper-list"></ul>
  			</section>
  			<footer class="footer"></footer>
  		</section>

      <script type="text/template" id="item-template">
  			<div class="view">
  				<label><%- title %></label>
  				<button class="destroy"></button>
  			</div>
  			<input class="edit" value="<%- title %>">
  		</script>

      <p>
        <small>
          <!-- All of the Node.js APIs are available in this renderer process. -->
          We are using node <script>document.write(process.versions.node)</script>,
          Chromium <script>document.write(process.versions.chrome)</script>,
          and Electron <script>document.write(process.versions.electron)</script>.
        </small>
      </p>


  </body>

  <!-- http://stackoverflow.com/a/37480521/209647 -->
  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- normal script imports etc  -->
  <script>
    window.$ = require('jquery');
  </script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>


  <script>
    // You can also require other files to run in this process
    require('./assets/js/ex-links.js');
    require('./assets/js/notifications.js');

    // Backbone
    //require('backbone');
    //require('backbone.localStorage');


  </script>
  <script src="./assets/js/models/paper.js"></script>
  <script src="./assets/js/collections/papers.js"></script>
  <script src="./assets/js/views/paper-view.js"></script>
  <script src="./assets/js/views/app-view.js"></script>


  <!-- In Electron, this is the correct way to include jQuery -->
  <!--
  <script>
    window.$ = window.jQuery = nodeRequire('jquery');
    console.log( [$, jQuery ]);
  </script>
-->


</html>
