<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper-Notes</title>
    <link rel="stylesheet" href="./assets/css/app.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">

    <!-- http://electron.atom.io/docs/faq/ -->
    <!--
    <script>
      window.nodeRequire = require;
      delete window.require;
      delete window.exports;
      delete window.module;
    </script>
  -->

  </head>
  <body>
    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Paper. Notes.</h1>
        <p>Read and make notes with ease.</p>
      </div>

      <section id="paperapp">

        <div class="form-group" id="files">
          <button id="clear" class="btn btn-primary">Clear</button>
          <button id="open" class="btn btn-primary">Open</button>
          <button id="save" class="btn btn-primary">Save</button>
        </div>

        <div class="page-header">
				  <h1>Add New Paper</h1>
        </div>

        <div class="form-group">
          <label for="new-paper">Paper Title</label>
				  <input id="new-paper" class="form-control" placeholder="Paper Title" autofocus>
        </div>

        <section id="main">
          <div class="page-header">
            <h1>Papers</h1>
          </div>
  				<div id="paper-list"></div>
  			</section>

  		</section>


      <script type="text/template" id="item-template">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%- title %></h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <input class="edit form-control" value="<%- title %>">
              </div>
              <p>Further information. Editing toggle.</p>
              <button class="destroy btn btn-danger btn-sm">Delete</button>
            </div>
          </div>
        </div>
  		</script>

      <p>
        <small>
          <!-- All of the Node.js APIs are available in this renderer process. -->
          We are using node <script>document.write(process.versions.node)</script>,
          Chromium <script>document.write(process.versions.chrome)</script>,
          and Electron <script>document.write(process.versions.electron)</script>.
        </small>
      </p>

    </div>
  </body>

  <!-- http://stackoverflow.com/a/37480521/209647 -->
  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- normal script imports etc  -->
  <script>
    window.$ = window.jQuery = require('jquery');
  </script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>


  <script>
    // You can also require other files to run in this process
    require('bootstrap');
    require('./assets/js/ex-links.js');
    require('./assets/js/notifications.js');

    // Backbone
    //require('backbone');
    //require('backbone.localStorage');

    // Underscore
    //require('underscore');


  </script>
  <script src="./assets/js/models/note.js"></script>
  <script src="./assets/js/models/annotation.js"></script>
  <script src="./assets/js/models/paper.js"></script>
  <script src="./assets/js/collections/notes.js"></script>
  <script src="./assets/js/collections/annotations.js"></script>
  <script src="./assets/js/collections/papers.js"></script>
  <script src="./assets/js/views/paper-view.js"></script>
  <script src="./assets/js/views/app-view.js"></script>


  <!-- In Electron, this is the correct way to include jQuery -->
  <!--
  <script>
    window.$ = window.jQuery = nodeRequire('jquery');
    console.log( [$, jQuery ]);
  </script>
-->


</html>
